* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.main-container{
  background-color: #f6f6ee;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
