* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f4fcaf;
}
html {
  font-size: 62.5%;
}
.main-container {
  padding: 3rem;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}
.footer-container {
  background-color: #fefefd;
  padding: 5rem;
  border-radius: 18px;
}
.logo {
  color: orangered;
  font-size: 4.4rem;
  font-weight: 600;
}
.company-description{
  color: #777;
}
.row-1-col-1{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.company-details{
  display: flex;
  flex-direction: column;
  gap: .8rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.feature{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.feature-card{
  display: flex;
  gap: 3rem;
  align-items: center;
}
.feature-icon{
  font-size: 2.8rem;
  background-color: #f6fac3;
  padding: 12px 14px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.feature-content{
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.feature-heading{
  font-size: 1.8rem;
  font-weight: 600;
}
.feature-subheading{
  color: #777;
}
.footer-1{
  display: flex;
  gap: 20rem;
}
.row-1-col-2{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 3rem;
}
.row1-col2-heading{
  font-size: 2.2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 2px solid orangered;
}
.navigation-links{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.nav-link{
  text-decoration: none;
  color: #777;
  font-weight: 500;
  transition: all .3s ease-in-out;
}
.nav-link:hover{
  text-decoration: underline;
  color: #333;
}
.second-col{
  display: flex;
  gap: 10rem;
}
