* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f4fcaf;
}
html {
  font-size: 62.5%;
}
.main-container {
  padding: 3rem;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}
.footer-container {
  background-color: #fefefd;
  padding: 5rem;
  border-radius: 18px;
}
.logo {
  color: orangered;
  font-size: 4.4rem;
  font-weight: 600;
}
.company-description{
  color: #777;
}
.row-1-col-1{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.company-details{
  display: flex;
  flex-direction: column;
  gap: .8rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.feature{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.feature-card{
  display: flex;
  gap: 3rem;
  align-items: center;
}
.feature-icon{
  font-size: 2.8rem;
  background-color: #f6fac3;
  padding: 12px 14px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.feature-content{
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.feature-heading{
  font-size: 1.8rem;
  font-weight: 600;
}
.feature-subheading{
  color: #777;
}