* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  /* background-color: #edff9b; */
  background-color: #f9fce6;
}
html {
  font-size: 62.5%;
}
.main-container{
    padding: 8rem 12rem;
}