* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #fff;
}
html {
  font-size: 62.5%;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20%;
}
.search-bar-container {
  position: relative;
}
#search-box {
  padding: 1.4rem 50rem 1.4rem 8rem;
  border: 3px solid #fff;
  border-radius: 14px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
}
#search-box:focus {
  outline: none;
  border: 3px solid #edf2be;
  /* box-shadow: 0 0 10px 3px #edf2be; */
  box-shadow: 0 0 0 0 #fff;
}
.ic-1 {
  position: absolute;
  top: 1.9rem;
  left: 2rem;
  font-size: 1.7rem;
  color: #ccc;
}
.ic-2 {
  position: absolute;
  top: 1.9rem;
  right: 30rem;
  font-size: 1.7rem;
  color: #aaa;
}
.ic-2:hover{
  cursor: pointer;
}
.separator-2{
  position: absolute;
  top: 15px;
  right: 27rem;
  height: 45%;
  width: 1px;
  background-color: #ccc;
}
#category {
  position: absolute;
  top: 1.4rem;
  right: 10rem;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 600;
  color: #555;
  transition: all .3s ease-in-out;
}
#category:hover{
  cursor: pointer;
  color: #333;
}
#category:focus{
  border: none;
  outline: none;
}
.ic-4 {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  font-size: 1.7rem;
  background-color: #e8ec9e;
  padding: 12px;
  border-radius: 14px;
  text-align: center;
  transition: all .2s ease-in-out;
}
.ic-4:hover{
  background-color: #9ea608;
  cursor: pointer;
  color: #fff;
}
.separator{
  position: absolute;
  top: 15px;
  right: 7rem;
  height: 45%;
  width: 1px;
  background-color: #ccc;
}
