* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #fff;
}
html {
  font-size: 62.5%;
}
.main-container {
  margin: 5rem 10rem;
  position: relative;
}
.active {
  background-color: #e1ec94;
}
.hidden {
  opacity: 0;
}
.navigation-bar {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 8rem;
  padding: 2.4rem 5rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.logo-box {
  font-size: 2.6rem;
  font-weight: 600;
  color: orangered;
}
.nav-link-box {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.nav-link-box li > a {
  text-decoration: none;
  color: #111;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 12px;
}

.search-box {
  display: flex;
  align-items: center;
  padding-right: 2.4rem;
  position: relative;
}
.search {
  font-size: 2.4rem;
  cursor: pointer;
  transition: color 0.3s ease-out;
}
.search:hover {
  color: #333;
}
.separator {
  position: absolute;
  width: 2px;
  height: 75%;
  background-color: #ccc;
  top: 0.5rem;
  right: -1rem;
}
.norm-link {
  transition: all 0.3s ease-out;
}
.norm-link:hover {
  background-color: #e1ec94;
}
.down-arrow {
  transition: all 0.4s ease;
}
.drop-down-show-box:hover .down-arrow {
  transform: rotate(180deg);
}
.start-icon {
  transition: all 0.3s ease;
}
.start-btn:hover .start-icon {
  transform: translateX(4px);
}
.start-btn {
  padding-right: 25px !important;
  transition: all 0.3s ease-in-out;
}
.start-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}
.drop-down-box {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 2rem 2rem;
  border-radius: 12px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  z-index: 1000;

  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);

  transition:
    opacity 0.25s ease,
    transform 0.25s ease,
    visibility 0.25s ease;
}
.drop-box {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.drop-link {
  text-decoration: none;
  color: #111;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}
.drop-link:hover {
  background-color: #e1ec94;
}

.drop-down-show-box {
  position: relative;
}

.drop-down-show-box:hover .drop-down-box {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
